[submodule "raft"]
	path = raft
	url = https://github.com/maemual/raft-zh_cn.git
[submodule "ffmpeg_develop_doc"]
	path = ffmpeg_develop_doc
	url = https://github.com/0voice/ffmpeg_develop_doc.git
[submodule "cppreference"]
	path = cppreference
	url = https://github.com/loongcat-mega/cppreference.git
[submodule "Algorithm"]
	path = Algorithm
	url = https://github.com/loongcat-mega/Algorithm.git
[submodule "三高系统/限流算法/ratelimit"]
	path = 三高系统/ratelimit
	url = https://github.com/juju/ratelimit.git
[submodule "三高系统/gobreaker"]
	path = 三高系统/gobreaker
	url = https://github.com/sony/gobreaker.git
[submodule "三高系统/retry"]
	path = 三高系统/retry
	url = https://github.com/shengyanli1982/retry.git
